# 전국 스타벅스 매장 정보

[Starbucks Coffee Korea](https://www.starbucks.co.kr/store/store_map.do?disp=quick)

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
# 사용할 url들
# url = "https://www.starbucks.co.kr/store/getStore.do?r=0TB85BHU56"
# referer = "https://www.starbucks.co.kr/store/store_map.do?disp=quick"
# params = "in_biz_cds=0&in_scodes=0&ins_lat=37.368665899999996&ins_lng=127.11512619999999&search_text=&p_sido_cd=01&p_gugun_cd=&isError=true&in_distance=0&in_biz_cd=&iend=1000&searchType=C&set_date=&rndCod=3WBZBCPSZ8&all_store=0&T03=0&T01=0&T12=0&T09=0&T30=0&T05=0&T22=0&T21=0&T10=0&T36=0&P10=0&P50=0&P20=0&P60=0&P30=0&P70=0&P40=0&P80=0&whcroad_yn=0&P90=0&new_bool=0"

# 전체 열, 컬럼 등을 확인할 때 사용하는 함수
# pd.set_option('display.max_seq_items', None)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [3]:
# 함수 만들기
def get_store_with_sido_num(sido_num):
    st_by_sido = []
    url = "https://www.starbucks.co.kr/store/getStore.do?r=0TB85BHU56"
    response = requests.post(url, params = f"in_biz_cds=0&in_scodes=0&ins_lat=37.566926455583385&ins_lng=126.97212112504282&search_text=&p_sido_cd={sido_num}&p_gugun_cd=&isError=true&in_distance=0&in_biz_cd=&iend=1000&searchType=C&set_date=&rndCod=3WBZBCPSZ8&all_store=0&T03=0&T01=0&T12=0&T09=0&T30=0&T05=0&T22=0&T21=0&T10=0&T36=0&P10=0&P50=0&P20=0&P60=0&P30=0&P70=0&P40=0&P80=0&whcroad_yn=0&P90=0&new_bool=0")
    sb_df = pd.DataFrame(response.json()["list"])
    stores = sb_df[["sido_name","gugun_name","s_name","addr","tel","s_code","gugun_code"]]
    st_by_sido.append(stores)
    df = pd.concat(st_by_sido)
    return df

In [4]:
# 시도 코드 리스트 받아오기
url = "https://www.starbucks.co.kr/store/getSidoList.do"
response = requests.post(url, params = f"in_biz_cds=0&in_scodes=0&ins_lat=37.566926455583385&ins_lng=126.97212112504282&search_text=&p_sido_cd=01&p_gugun_cd=&isError=true&in_distance=0&in_biz_cd=&iend=1000&searchType=C&set_date=&rndCod=3WBZBCPSZ8&all_store=0&T03=0&T01=0&T12=0&T09=0&T30=0&T05=0&T22=0&T21=0&T10=0&T36=0&P10=0&P50=0&P20=0&P60=0&P30=0&P70=0&P40=0&P80=0&whcroad_yn=0&P90=0&new_bool=0")
sido_list = pd.DataFrame(response.json()["list"])
sido_num = sido_list["sido_cd"].to_list()
sido_num

['01',
 '08',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17']

In [5]:
# for 문으로 반복 돌리기
please_add_here = []
for num in sido_num:
    s_list = pd.DataFrame(get_store_with_sido_num(num))
    please_add_here.append(s_list)
    all_store = pd.concat(please_add_here)

In [6]:
all_store.head(3)

,sido_name,gugun_name,s_name,addr,tel,s_code,gugun_code
0,서울,강남구,역삼아레나빌딩,서울특별시 강남구 역삼동 721-13 아레나빌딩,1522-3232,1509,0101
1,서울,강남구,논현역사거리,서울특별시 강남구 논현동 142-2 정일빌딩,1522-3232,1434,0101
2,서울,강남구,신사역성일빌딩,서울특별시 강남구 논현동 18-4 성일빌딩,1522-3232,1595,0101

In [7]:
# 데이터 값 수정

In [8]:
# 개수 확인
len(all_store['sido_name'].unique()) == len(sido_num)

False

In [9]:
# 'sido_name' 고유값 개수 확인
all_store['sido_name'].value_counts()

서울     567
경기     369
부산     128
대구      71
인천      64
경남      62
광주      59
대전      57
경북      47
충남      35
울산      29
전북      28
충북      26
전남      24
제주      23
강원      19
세종      11
강원도      6
Name: sido_name, dtype: int64

In [10]:
# '강원도'를 '강원'으로 문자 대체
# 방법1. replace() 사용
all_store['sido_name'] = all_store['sido_name'].replace('강원도','강원')
# 방법2. apply(lambda ) 사용
# all_store['sido_name'] = all_store['sido_name'].apply(lambda x : '강원' if x == '강원도' else x)

# 'sido_name' 고유값 개수 다시 확인
all_store['sido_name'].value_counts()

서울    567
경기    369
부산    128
대구     71
인천     64
경남     62
광주     59
대전     57
경북     47
충남     35
울산     29
전북     28
충북     26
강원     25
전남     24
제주     23
세종     11
Name: sido_name, dtype: int64

In [11]:
# 결과
pd.set_option('display.max_rows', None)
all_store.tail()

,sido_name,gugun_name,s_name,addr,tel,s_code,gugun_code
6,세종,None,세종이마트,세종특별자치시 가람동 406 이마트 세종점,1522-3232,894,1701
7,세종,None,세종청사,세종특별자치시 어진동 3-113외 5필지,1522-3232,717,1701
8,세종,None,세종아름,"세종특별자치시 아름동 1329 다올비즈니스센터 103,104,105,202,203호",1522-3232,1768,1701
9,세종,None,세종소담,"세종특별자치시 소담동 539 새샘마을7단지 근린생활시설 -1동 12호,13호,14호...",1522-3232,1750,1701
10,세종,None,세종충남대학교병원,세종특별자치시 도담동 407 세종충남대학교병원 헬스케어센터 1층,1522-3232,1814,1701

In [12]:
# 인덱스 정리하기
all_store.reset_index(drop=True, inplace=True)
all_store.tail()

,sido_name,gugun_name,s_name,addr,tel,s_code,gugun_code
1620,세종,None,세종이마트,세종특별자치시 가람동 406 이마트 세종점,1522-3232,894,1701
1621,세종,None,세종청사,세종특별자치시 어진동 3-113외 5필지,1522-3232,717,1701
1622,세종,None,세종아름,"세종특별자치시 아름동 1329 다올비즈니스센터 103,104,105,202,203호",1522-3232,1768,1701
1623,세종,None,세종소담,"세종특별자치시 소담동 539 새샘마을7단지 근린생활시설 -1동 12호,13호,14호...",1522-3232,1750,1701
1624,세종,None,세종충남대학교병원,세종특별자치시 도담동 407 세종충남대학교병원 헬스케어센터 1층,1522-3232,1814,1701

In [13]:
# 저장
# all_store.to_csv("StarbucksKoreaStore.csv")